<div
  class="modal fade"
  id="exampleModal"
  data-backdrop="static"
  data-keyboard="false"
  [ngClass]="isModal? 'app-modal' : ''"
  tabindex="-1">
  <div class="modal-dialog app-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (submit)="submit()" class="app-form">
          <label>
            Heading
            <input type="text" formControlName="heading">
          </label>
          <label>
            SubHeading
            <input type="text" formControlName="subHeading">
          </label>
          <label for="tinymceeditor">
            Body
          </label>
          <textarea id="tinymceeditor">{{body}}</textarea>
          <label>
            Active
            <input type="checkbox" formControlName="active">
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submit()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-md app-navbar">
  <img src="assets/img/logo.png" alt="Logo">
  <a class="navbar-brand app-navbar__logo" href="#">Enterprise customer manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link app-navbar__item" href="#">App notifications</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle app-navbar__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dan Storbaek
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="app-content">
  <div class="app-top-panel">
    <span class="app-messages-title">App Messages</span>
    <button
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="openModal()"
      class="app-button">Add new</button>
  </div>
  <table class="table app-table">
    <thead class="app-table__header">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heading</th>
      <th scope="col">Sub heading</th>
      <th scope="col">Body</th>
      <th scope="col">Active</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages; index as i">
      <td>{{message.Date | date : 'shortDate'}}</td>
      <td>{{message.Heading}}</td>
      <td>{{message.SubHeading}}</td>
      <td><div [innerHTML]="message.Body | htmlSanitize"></div></td>
      <td><img [src]="message.IsActive ? 'assets/img/check.svg' : 'assets/img/close.svg'" alt="active state"></td>
      <td>
        <button
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="openModal(message, i)"
          class="app-button">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
