<div style="text-align:center">
  <nav class="navbar navbar-expand-md app-navbar">
    <img src="assets/img/logo.png" alt="Logo">
    <a class="navbar-brand app-navbar__logo" href="#">Enterprise customer manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link app-navbar__item" href="#">App notifications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle app-navbar__item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dan Storbaek
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <table class="table app-table">
    <thead class="app-table__header">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Heading</th>
      <th scope="col">Sub heading</th>
      <th scope="col">Body</th>
      <th scope="col">Active</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages$ | async">
      <td>{{message.Date | date : 'shortDate'}}</td>
      <td>{{message.Heading}}</td>
      <td>{{message.SubHeading}}</td>
      <td>{{message.Body}}</td>
      <td>{{message.IsActive}}</td>
      <td><button>Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>
